{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <h1>Transaction</h1>
    <h1>Transaction</h1>
    <h1>Transaction</h1>


    {% for message in app.flashes('notice') %}
        <h1 style="color: red;">{{ message }}</h1>
    {% endfor %}

    {{ form_start(sendMoneyForm) }}

    {{ form_widget(sendMoneyForm) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(sendMoneyForm) }}


{% endblock %}
