@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #27397e;
}

::-webkit-scrollbar-thumb {
  background: #4961bd;
}

::-webkit-scrollbar-corner {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

body {
  background: #27397e;
}

.page-container {
  position: relative;
  float: right;
  width: 75%;
  margin-top: 30px;
  margin-right: 30px;
}

@media (max-width: 1600px) {
  .page-container {
    width: 70%;
    margin-right: 30px;
  }
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.w-100 {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #2a2a50;
  position: fixed;
  display: none;
  opacity: 0.97;
  z-index: 100;
}

.overlay-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  width: 60%;
}

.overlay-content--title {
  margin-bottom: 30px;
}

.close-overlay-btn {
  margin: auto;
  width: 200px;
  color: white;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 100px;
  background: none;
}

.close-overlay-btn:focus {
  outline: none;
}

.close-overlay-btn span {
  font-size: 20px;
  text-decoration: underline;
}

.mission-module {
  width: 100%;
  height: 400px;
}

.liste-mission {
  width: 35%;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

.liste-mission--item {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: #232342;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.liste-mission--item:hover {
  background-color: #373764;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.liste-mission--item h3 {
  width: 90%;
}

.liste-mission--item h3,
.liste-mission--item .state-dot {
  position: relative;
  top: 30%;
  float: right;
}

.liste-mission--item .state-dot {
  width: 20px;
  height: 15px;
  background-color: #eeba00;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 10px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.mission-desc {
  width: 70%;
  height: 350px;
  margin-left: 30px;
}

.mission-desc--content {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  position: relative;
  background-color: #232342;
  padding: 30px;
}

.mission-desc--content .content--bottom {
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mission-desc--content p {
  margin-top: 15px;
  font-weight: 400;
}

.mission-desc--content .btn {
  height: 40px;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.mission-desc--content .btn:focus {
  outline: none;
}

.mission-desc--content .btn-askforvalid {
  width: 200px;
  background-color: #2e7165;
}

.mission-desc--content .btn-abandon {
  width: 100px;
  background-color: #b83838;
}

.mission-desc--content .reward-zone {
  margin-bottom: 20px;
}

.mission-desc--content .reward-logo {
  width: 50px;
  height: 55px;
  margin-right: 20px;
}

.mission-desc--content .time-left-logo {
  width: 75px;
  height: 60px;
  margin-right: 20px;
  margin-left: -15px;
}

.left-side {
  width: 350px;
  height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  float: left;
  position: fixed;
}

.user-space {
  width: 80%;
  height: 108px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  background-color: #1b295f;
  float: left;
  border-radius: 50%;
  border: 4px solid #4961bd;
  overflow: hidden;
}

.user-avatar img {
  margin-top: -42px;
  margin-left: -14px;
}

.user-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  line-height: 27px;
  font-size: 20px;
}

.user-info span {
  font-weight: 400;
}

.user-info .user-name {
  font-size: 30px;
}

.user-info img {
  position: absolute;
  margin-top: 4px;
}

.user-info .user-money {
  margin-left: 12px;
}

.menu {
  width: 250px;
  height: 320px;
  border-radius: 20px;
  background-color: #1b295f;
  margin-top: 30px;
  -webkit-box-shadow: 0 5px 50px rgba(31, 31, 60, 0.5);
          box-shadow: 0 5px 50px rgba(31, 31, 60, 0.5);
}

.menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.menu .menu-items p {
  font-size: 1.2rem;
  padding: 10px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.menu .menu-items p img {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.menu .menu-items a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu .menu-items a:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background: #232342;
  border-radius: 10px 0 0 10px;
}

.menu .menu-items a:hover > p {
  padding-left: 15px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.menu p:hover .dropdown-content {
  visibility: visible;
}

.menu #sub-menu-mission {
  display: none;
}

.menu #sub-menu-bank {
  display: none;
}

.menu .sub-menu {
  height: 320px;
  width: 250px;
  background-color: #232342;
  position: absolute;
  top: 19.3%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  margin-left: 200px;
}

.menu .sub-menu--item {
  margin-left: 55px;
}

.dropdown-content {
  width: 200px;
  height: 300px;
  background: #232342;
  border-radius: 20px;
  position: absolute;
  top: -50px;
  left: 100px;
  visibility: hidden;
}

.buttons {
  height: auto;
  margin-top: 30px;
}

.buttons:hover > button > img {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  margin-top: -15px;
}

.buttons .btn {
  width: 90%;
  height: 60px;
  background: #1b295f;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  word-spacing: 45px;
  outline: none;
  cursor: pointer;
}

.buttons .btn img {
  position: absolute;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  left: 40px;
  margin-top: -7px;
  margin-right: 10px;
  width: 40px;
}

.buttons .btn span {
  margin-left: -15px;
}

.buttons .btn .missions-notifs {
  font-size: 20px;
  background: #d85555;
  padding: 5px 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.buttons .btn .btn-arrow {
  float: right;
  margin-right: 10px;
}

.footer {
  height: 100px;
  margin-top: 30px;
}

.footer img {
  float: left;
}

.footer .footer-txt {
  float: right;
  margin-top: 13px;
  margin-right: 30px;
}

.footer .footer-txt .ft-app-name {
  font-size: 17px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-article-box {
  width: 62%;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #4961bd;
}

.home-article-box h2 {
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
  border-bottom: 7px solid #4961bd;
  padding-right: 15px;
  border-bottom-right-radius: 10px;
  background: #4961bd;
  border-top-left-radius: 4px;
}

.hab-button {
  position: absolute;
  top: 195px;
  background: #4961bd;
  padding: 5px;
  border-bottom-left-radius: 7px;
}

hr {
  width: 30%;
  border: none;
  background-color: #4961bd;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.top-players {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #4961bd;
  background: #27397e;
  margin-top: 20px;
}

.top-players h2 {
  text-align: center;
}

.top-player-box {
  background: #1b295f;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  border: 2px dashed #4961bd;
  border-radius: 10px;
}

.top-player-box .tpb-pseudo {
  font-weight: normal;
}

.top-player-box .ls {
  position: absolute;
  margin-top: -2px;
  padding-left: 2px;
}

.top-player-box .user-body {
  margin-top: -20px;
}

.top-player-box .tpb-money {
  margin-left: -13px;
}

.go-profil {
  margin-top: 10px;
}

.tpb-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #1b295f;
  border: 2px dashed #4961bd;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tpb-button:hover {
  opacity: 0.5;
}

.esp {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #4961bd;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.esp:hover {
  opacity: 0.7;
}

.lastmissions-list {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.mission-box {
  background: #1b295f;
  border: 2px solid #4961bd;
  padding: 10px;
  border-radius: 10px;
  line-height: 35px;
  padding-left: 20px;
}

.mission-box .mission-title {
  background: #4961bd;
}

.mission-box .accept-mission {
  padding: 5px;
  background: green;
  border-radius: 10px;
}

.rpgmafia {
  text-align: center;
  margin-left: 10px;
  width: 790px;
  height: 325px;
  overflow: scroll;
}

@media (max-width: 1600px) {
  .rpgmafia {
    height: 365px;
  }
}

.quote {
  width: 630px;
  background: #4961bd;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.quote .primelia {
  float: left;
  margin-top: -20px;
}

.quote p {
  margin-top: 16px;
}

.user-compte h1 {
  background: #4961bd;
  padding: 5px;
  border: 2px solid white;
  margin-top: -30px;
  font-size: 20px;
}

.global-card-bank {
  border: 2px dashed white;
  margin-top: 20px;
  padding: 10px;
}

.global-card-bank .bbanklogo {
  width: 250px;
  margin-top: -15px;
}

.global-card-bank .banquier-avatar {
  background: #4961bd;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid white;
}

.global-card-bank .banquier-avatar img {
  margin-top: -15px;
  margin-left: -8px;
}

.global-card-bank .virement-form {
  margin-top: 5px;
}

.global-card-bank .virement-form input {
  color: black;
  outline: none;
}

.global-card-bank .virement-form .send-virement {
  padding: 10px;
  background: #4961bd;
  border: none;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */