//Variables colors
$bgr: #27397e;
$border: #4961bd;
$box-bgr: #1b295f;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

::placeholder {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $bgr;
}

::-webkit-scrollbar-thumb {
  background: $border;
}

::-webkit-scrollbar-corner {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  image-rendering: pixelated;
}
body {
  background: $bgr;
  color: white;
}

.page-container {
  position: relative;
  float: right;
  width: 75%;
  margin-top: 30px;
  margin-right: 30px;


  @media (max-width: 1600px) {
    width: 70%;
    margin-right: 20px;
  }

  @media (max-width: 800px) {
    width: fit-content;
    margin-right: -533px;
    }

}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.alert-box {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;

  span {
    position: relative;
    top: 35%;
  }
}

.error--message {
  background-color: #c0392b;
}

.success--message {
  background-color: green;
}
//OVERLAY PART

.overlay {
  width: 100%;
  height: 100%;
  background-color: #2a2a50;
  position: fixed;
  display: none;
  opacity: 1;
  z-index: 100;
}

.overlay-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 60%;

  &--title {
    margin-bottom: 30px;
  }
}

.close-overlay-btn {
  margin: auto;
  width: 200px;
  color: white;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 100px;
  background: none;

  &:focus {
    outline: none;
  }

  span {
    font-size: 20px;
    text-decoration: underline;
  }
}

.mission-module {
  width: 100%;
  height: 400px;
}

.mission-card {
  width: 90%;
  height: 100px;
  background-color: #1b295f;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 0 20px;

  .card-body {
    justify-content: space-between;
    position: relative;
    top: 35%;

    button {
      position: relative;
      top: -10%;
      width: 100px;
      height: 50px;
      background-color: green;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.liste-mission {
  width: 35%;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;

  &--item {
    width: 100%;
    height: fit-content;
    transition: 0.2s ease-in;
    background-color: #232342;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;

    .waiting-logo {
      width: 55px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    &:hover {
      background-color: #373764;
      transition: 0.2s ease-in;
    }

    h3 {
      width: 90%;
    }

    h3,
    .state-dot {
      position: relative;
      top: 30%;
      float: right;
    }

    .state-dot {
      width: 20px;
      height: 15px;
      background-color: #eeba00;
      border-radius: 100%;
      margin-left: 20px;
      margin-right: 10px;
    }
  }
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.mission-desc {
  width: 70%;
  height: 350px;
  margin-left: 30px;
}
.mission-desc--content {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  position: relative;
  background-image: url("https://i.servimg.com/u/f12/19/02/71/34/12405211.gif");
  background-size: cover;
  padding: 30px;
  overflow: auto;

  .content--bottom {
    margin-top: 30px;
    justify-content: space-between;
  }

  p {
    margin-top: 15px;
    font-weight: 400;
  }

  .btn {
    height: 40px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    &:focus {
      outline: none;
    }
  }
  .btn-askforvalid {
    width: 200px;
    background-color: #2e7165;
  }

  .btn-waitingValidation {
    width: 200px;
    background-color: #f39c12;
    cursor: not-allowed;

    .waiting-logo {
      width: 55px;
      height: 40px;
    }

    span {
      margin-top: 5px;
    }
  }
  .btn-abandon {
    width: 100px;
    background-color: #b83838;
  }

  .reward-zone {
    margin-bottom: 20px;
  }

  .reward-logo {
    width: 50px;
    height: 55px;
    margin-right: 20px;
  }

  .time-left-logo {
    width: 75px;
    height: 60px;
    margin-right: 20px;
    margin-left: -15px;
  }
}

//LEFT SIDE
.left-side {
  width: 350px;
  height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  float: left;
  position: fixed;

  @media (max-width: 800px) {
    width: 295px;
  }
}

.user-space {
  width: 270px;
  height: 108px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  background-color: $box-bgr;
  float: left;
  border-radius: 50%;
  border: 4px solid $border;
  overflow: hidden;

  img {
    margin-top: -42px;
    margin-left: -14px;
  }
}

.login-button {
  text-align: center;
  background: $box-bgr;
  margin-top: 10px;
  border: 2px solid $border;
  color: white;
}

.logout-btn {
  color: white;
  background: red;
  padding: 5px;
  position: relative;
  top: 10px;
  left: 120px;
}

.searchprofil {
  margin-top: 10px;
  position: relative;
  top: 15px;

  .spinput {
    padding: 15px;
    outline: none;
    background: $box-bgr;
    border: 2px solid $border;
    color: white;
    width: 70%;
    border-radius: 10px;
  }
}
.user-info {
  width: fit-content;
  float: left;
  line-height: 27px;
  font-size: 20px;
  margin-left: 10px;

  span {
    font-weight: 400;
  }

  .user-name {
    font-size: 30px;
  }

  img {
    position: absolute;
    margin-top: 4px;
  }

  .user-money {
    margin-left: 12px;
  }
}

.menu {
  font-weight: bold;
  width: 250px;
  height: 320px;
  border-radius: 20px;
  background-color: $box-bgr;
  margin-top: 30px;
  box-shadow: 0 5px 50px rgba(31, 31, 60, 0.5);

  .menu-items {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    transform: translateY(25%);

    p {
      font-size: 1.2rem;
      padding: 10px;
      transition: 0.2s ease-in;
      color: white;
    }

    p img {
      float: left;
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }

    a {
      text-decoration: none;
      transition: 0.2s ease-out;
    }

    a:hover {
      transition: 0.2s ease-in;
      background: #232342;
      border-radius: 10px 0 0 10px;
    }

    a:hover > p {
      padding-left: 15px;
      transition: 0.2s ease-in;
    }
  }

  p:hover {
    .dropdown-content {
      visibility: visible;
    }
  }

  #sub-menu-mission {
    display: none;
  }

  #sub-menu-bank {
    display: none;
  }

  .sub-menu {
    height: 320px;
    width: 250px;
    background-color: #232342;
    position: absolute;
    top: 19.3%;
    z-index: -1;
    border-radius: 0 10px 10px 0;
    margin-left: 200px;
  }

  .sub-menu--item {
    margin-left: 55px;
  }
}

.dropdown-content {
  width: 200px;
  height: 300px;
  background: #232342;
  border-radius: 20px;
  position: absolute;
  top: -50px;
  left: 100px;
  visibility: hidden;
}

.buttons {
  height: auto;
  margin-top: 30px;
  color: white;

  &:hover > button > img {
    transition: 0.2s ease-in;
    margin-top: -15px;
  }

  .btn {
    width: 90%;
    font-weight: bold;
    height: 60px;
    background: $box-bgr;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    word-spacing: 45px;
    outline: none;
    cursor: pointer;

    img {
      position: absolute;
      transition: 0.2s ease-in;
      left: 40px;
      margin-top: -7px;
      margin-right: 10px;
      width: 40px;
    }

    span {
      margin-left: -15px;
      color: white;
    }

    .missions-notifs {
      font-size: 20px;
      background: #d85555;
      padding: 5px 10px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
    }

    .btn-arrow {
      float: right;
      margin-right: 10px;
    }
  }
}

//Footer
.footer {
  height: 100px;
  margin-top: 30px;

  img {
    float: left;
  }

  .footer-txt {
    float: right;
    margin-top: 13px;
    margin-right: 30px;

    .ft-app-name {
      font-size: 17px;
    }
  }
}

//home

.d-flex{
  display: flex;
}

.align-left{
  text-align: left;
}

@media (max-width: 1700px) {
.index-mission-title {
  margin-left: 0px !important;
}
}

.align-right{
  text-align: right;
}

.text-img{
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    display: block;
  }
}

.discord-iframe {
  display: block;
  @media (max-width: 1200px) {
    display: none;
  }
}

.home-article-box {
  width: 62%;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid $border;

  @media (max-width: 1700px) {
    width: 70%;
  }

    @media (max-width: 800px) {
      width: 600px;
      margin-left: 85px;
  }

  h2 {
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 7px solid $border;
    padding-right: 15px;
    border-bottom-right-radius: 10px;
    background: $border;
    border-top-left-radius: 4px;
  }
}
.hab-button {
  position: absolute;
  top: 195px;
  background: $border;
  padding: 5px;
  border-bottom-left-radius: 7px;
  color: white;
}

hr {
  width: 30%;
  border: none;
  background-color: $border;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.home-box{
  margin-top: 30px;
}

.top-players {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: $box-bgr;
  box-shadow: 0 5px 50px rgba(31, 31, 60, 0.5);
  margin-top: 20px;
  height: 317px;

  @media (max-width: 1700px) {
    height: 365px;
    padding-bottom: 0px;

  }

  h2 {
    text-align: center;
  }
}

.top-player-box {
  background: $box-bgr;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  height: 220px;

  .tpb-pseudo {
    font-weight: normal;
  }

  .ls {
    position: absolute;
    margin-top: -2px;
    padding-left: 2px;
  }

  .user-body {
    margin-top: -20px;
  }

  .tpb-money {
    margin-left: -13px;
  }
}

.go-profil {
  margin-top: 10px;
}

.tpb-button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  color: white;
  @media (max-width: 1700px) {
    margin-top: 10px;
    font-size: 13px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.home-box-title--image{
  position: relative;
  top: 10px;
}

.link-to-leaderboard{
  color: white;
}

.esp {
  padding: 10px;
  width: fit-content;
  background: $border;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.lastmissions-list {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.mission-box {
  background: $box-bgr;
  border: 2px solid $border;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  line-height: 35px;
  padding-left: 20px;
  height: 260px;

  .mission-title {
    background: $border;
  }

  .accept-mission {
    padding: 5px;
    background: green;
    border-radius: 10px;
  }
}
.rpgmafia {
  text-align: center;
  margin-left: 10px;
  width: 927px;
  height: 317px;

  @media (max-width: 1700px) {
    height: 365px;
    width: 600px;
  }

}

.list-group{
  list-style: none;
}

.demandes-box{
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  span{
    margin-left: 20px;
    width: 100%;
  }
}

.list-group{
  margin-top: 20px;
}

.info-bulle-bank{
  margin: auto;
  width: 70%;
  height: 100px;
  background-color: #1b295f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;

  span{
    margin: auto;
  }
}

.waiting{
  background-color: #3B3B98;
}

.accepted{
  background-color: #EAB543;
}

.paid{
  background-color: #58B19F;
}

.demandes-btn{
  position: relative;
  float: right;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

//News

.category-badge{
  display: flex;
  width: 150px;
  text-align: center;
  height: 30px;
  border-radius: 0 10px 0 10px;
  background-color: #1b1e21;
  color: white;
  position: relative;
  float: right;

  p{
    margin: auto;
  }
}
.news-topstory{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  margin-bottom: 15px;
  transition: 0.2s ease-in;

  &:hover{
    transition: 0.2s ease-in;
    height: 210px;
  }
}

.news-title-box{
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: sticky;
  top: 100%;
  background-color: black;
  opacity: 0.8;
  width: 50%;
  height: 30%;
  border-radius: 0 10px 0 10px;

  span {
   margin-left: 10px;
  }
}

.btn-read-news{
  position: relative;
  float: right;
  margin-right: 10px;
  color: white;
  text-decoration: underline;
}

//BANK
.quote {
  width: 630px;
  background: $border;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  width: 740px;

  .primelia {
    float: left;
    margin-top: -20px;
  }

  .mobcorp {
    float: right;
    margin-top: -20px;
  }

  p {
    margin-top: 16px;
  }
}

.user-compte {
  h1 {
    background: $border;
    padding: 5px;
    border: 2px solid white;
    margin-top: -30px;
    font-size: 20px;
  }
}

.user-compte-2 {
  h1 {
    background: $border;
    padding: 5px;
    border: 2px solid white;
    margin-top: -30px;
    font-size: 20px;
    width: 365px;
  }
}

.global-card-bank {
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background: $box-bgr;
}

.bbanklogo {
  width: 250px;
  margin-top: -15px;
}

.banquier-avatar {
  background: $border;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid white;

  img {
    margin-top: -15px;
    margin-left: -8px;
  }
}

.virement-form {
  margin-top: 5px;

  input {
    color: black;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid $border;
  }

  .send-virement {
    padding: 10px;
    background: $border;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.virement-global {
  padding-right: 10px;
  border-right: 2px solid $border;
}

.emprunts-global {
  margin-left: 10px;
}

.credit-card-black {
  width: 400px;
  height: 200px;
  background: #212121;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;

  .cc-user-body {
    background: #8c8989;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: -13px;

    img {
      margin-top: -20px;
      margin-left: -13px;
    }
  }

  .crypto {
    position: absolute;
    margin-left: 240px;
    margin-top: -37px;
  }

  .cc-name {
    color: #8c8989;
  }

  .bottom-cc {
    z-index: 1;
    position: absolute;
    margin-top: 71px;
    padding: 15px;
    background: RGBA(0, 0, 0, 0.86);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 370px;

    .cc-user-name {
      float: left;
    }

    .cc-bbank {
      float: right;
    }
  }
}

.credit-card-gold {
  width: 400px;
  height: 200px;
  background: #cc9900;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;

  .cc-user-body {
    background: #f9d464;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: -13px;

    img {
      margin-top: -20px;
      margin-left: -13px;
    }
  }

  .crypto {
    position: absolute;
    margin-left: 240px;
    margin-top: -37px;
  }

  .cc-name {
    color: #f9d464;
  }

  .bottom-cc {
    z-index: 1;
    position: absolute;
    margin-top: 71px;
    padding: 15px;
    background: RGBA(185, 139, 75, 0.87);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 370px;

    .cc-user-name {
      float: left;
    }

    .cc-bbank {
      float: right;
    }
  }
}

.credit-card-blue {
  width: 400px;
  height: 200px;
  background: #023a80;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;

  .cc-user-body {
    background: #2d73ca;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: -13px;

    img {
      margin-top: -20px;
      margin-left: -13px;
    }
  }

  .crypto {
    position: absolute;
    margin-left: 240px;
    margin-top: -37px;
  }

  .cc-name {
    color: #2d73ca;
  }

  .bottom-cc {
    z-index: 1;
    position: absolute;
    margin-top: 71px;
    padding: 15px;
    background: RGBA(45, 115, 202, 0.92);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 370px;

    .cc-user-name {
      float: left;
    }

    .cc-bbank {
      float: right;
    }
  }
}

//Leaderboard
.leaderboard-global-box {
  width: 350px;
  background: $box-bgr;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;

  .lgb-title {
    background: $border;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
  }

  .lgb-podium {
    margin-top: 20px;
    background: $border;
    border-radius: 10px;
    padding: 10px;

    .rang3 {
      height: 200px;
      background: #c25123;
      width: 100px;
      float: left;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .rang2 {
      height: 200px;
      background: #bbb;
      width: 100px;
      float: right;
      overflow: hidden;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .rang1 {
      height: 200px;
      background: #faba3c;
      overflow: hidden;
    }

    .position {
      background: $border;
      width: fit-content;
      margin: auto;
      padding: 5px;
      border-radius: 5px;
      margin-top: 10px;
      border: 2px solid white;
    }
  }

  .out-box {
    background: $border;
    border-radius: 10px;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;

    .avatar {
      float: left;
      margin-top: -20px;
    }
    .content {
      margin-top: 13px;
      margin-right: 30px;
    }
    .position {
      float: right;
      padding-right: 10px;
      margin-top: -25px;
      background: $bgr;
      padding: 6px;
    }

    .content2 {
      margin-top: 17px;
      margin-right: 30px;
    }
  }
}

//PROFIL
.img-carte-id {
  //background-image: url("../../img/identite.png");
  display: flex;
  flex-direction: row;
  font-weight: bold;
  background-color: white;
  background-size: cover;
  height: 250px;
  width: 432px;
  color: black;
}

.pseudo-id {
  position: relative;
  top: 27px;
  left: 20px;
}

.avatar-id-global {
  width: 76px;
  height: auto;
  position: relative;
  top: 30px;
  left: 19px;
}

.avatar-id {
  position: relative;
  top: -41px;
  left: -28px;
}

.humeur-city {
  position: relative;
  top: -2px;
}

.ls-id {
  position: relative;
  top: 1px;
}

.diamond-id {
  position: relative;
  top: 8px;
}

.cp-id {
  position: relative;
  top: 16px;
}

.tattoo-listing {
  position: relative;
  top: 20px;
}

.casier-judiciaire {
  background: white;
  width: 432px;
  height: 246px;
  border: 2px solid black;
  margin-left: 10px;
  color: black;
}

.cj-title {
  text-align: center;
  position: relative;
  top: -160px;
}

.listing-cj {
  width: 250px;
  height: 160px;
  background: #1b295f;
  position: relative;
  top: -145px;
  left: 155px;
  border: 2px solid #665e50;
  overflow: scroll;
  overflow-x: hidden;
  color: white;
}

.appart-id {
  width: 875px;
  height: fit-content;
  background: white;
  margin-top: 10px;
  border: 2px solid black;
  color: black;
}

.appart-id-title {
  text-align: center;
  padding: 10px;
}

.idappart-box {
  width: 100px;
  height: 120px;
  color: white;
  background: #1b295f;
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;

  p {
    text-align: center;
    position: relative;
    top: -21px;
    background: $border;
    padding: 5px;
    transition: 0.2s ease-in;

    &:hover {
      margin-top: -80px;
      height: 100%;
      transition: 0.2s ease-in;
    }
  }
}

.groupe-id {
  margin-right: 10px;
}
//NEWS
.news-content {
  height: auto;
  padding: 10px;
  background-color: #1b295f;
  border-radius: 10px;

  .news-top-image {
    width: 100%;
    background-size: cover;
    margin: auto;
    border-radius: 10px;
    height: 100px;
    text-align: center;
  }

  .news-title {
    position: relative;
    top: 30%;
  }

  .news-content {
    margin-top: 30px;
  }
}

.comment-space,
.other-news-space {
  margin-top: 30px;
}

.section-title {
  margin-bottom: 15px;
}

.comment-space {
  width: 50%;

  label {
    display: none;
  }
}

#comment_message {
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: #2a2a50;
  padding-left: 20px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.btn-comment {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  background-color: #2a2a50;
  border: none;
  position: relative;
  float: right;
  margin-bottom: 20px;
}

.comment-item {
  width: 100%;
  height: 100px;
  background-color: #2a2a50;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  &:hover > .user-comment-avatar {
    transition: 0.2s ease-in;
    margin-top: -25px;
  }

  .comment-content--top {
    margin-bottom: 10px;
  }

  .comment--content--message {
    font-weight: 400;
  }

  .user-comment-avatar {
    transition: 0.2s ease-in;
    width: 100px;
    height: 170px;
    margin-top: -20px;
    margin-right: 10px;
  }
}

.comment--content {
  position: relative;
  top: 15%;
  width: 70%;
}

.comment--date {
  position: relative;
  top: 30%;
}

.other-news-space {
  width: 49%;

  .other-news--item {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: red;
    margin-bottom: 10px;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      transition: 0.2s ease-in;
      height: 105px;
    }

    h2 {
      margin: auto;
    }
  }
}

.m-45{
  width: 48%
}

.list-room{
  flex-flow: row wrap;
}

//Missions
.mission-detail-box{
  transition: 0.2s ease-in;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-color: #1b295f;
  overflow: hidden;
  margin-bottom: 10px;

  &:hover{
    transition: 0.2s ease-in;
    background-color: #394da0;
  }

  &:hover > .mission-side-image{
    transition: 0.2s ease-in;
    margin-top: 5px;
  }

  .mission-side-image{
    transition: 0.2s ease-in;
    margin-right: 20px;
    width: 150px;
    height: 130px;
    margin-top: 10px;
  }
}

.mission-description{
  position: relative;
  top: 20%;
  margin-left: 30px;
  box-sizing: border-box;
  width: 70%;
}

.accept-mission-btn{
  position: relative;
  top: 30%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: green;
  cursor: pointer;
}

.mission-bubble{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: 30%;
  img{
    margin-top: 5px;
  }
}
.mlb-global {
  background: $box-bgr;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  border: 2px solid $border;
  margin-right: 10px;
  height: 80px;

  .mlb-title {
    font-size: 17px;
    position: relative;
    top: -45px;
    left: 53px;
  }

  .mlb-author {
    float: left;
    position: relative;
    top: -20px;
  }

  .mlb-author-speach {
    background: url("../../img/bubble.png");
    width: 127px;
    height: 40px;
    position: relative;
    left: 55px;
    top: -2px;
  }

  .mlb-reward {
    position: relative;
    color: black;
    top: 8px;
    left: -23px;

    img {
      position: relative;
      top: 3px;
    }
  }

  .mlb-descr {
    width: 120px;
    position: relative;
    top: -40px;
    left: 204px;
    height: 100px;

    div {
      position: relative;
      top: -50px;
    }
  }

  .mlb-accept {
    position: relative;
    top: -110px;
    left: -50px;
    border: none;
    padding: 5px;
    background: $border;
    color: white;
    outline: none;
    cursor: pointer;
  }

}

.login-container{
  position: relative;
  top: 30%;
  transform: translateY(50%);
  text-align: center;

  h2{
    font-size: 3rem;
    font-weight: lighter;
  }

  h1{
    font-size: 4rem;
  }

  label{
    display: none;
  }

  input{
    color: black;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    width: 100%;
    height: 50px;

    &:focus{
      outline: none;
    }

    &::placeholder{
      color: #989898;
    }

  }
}

.separator{
  position: relative;
  top: 50%;
  transform: translateY(50%);
  margin-left: 80px;
  margin-right: 80px;
  width: 1px;
  height: 350px;
  background-color: grey;
}

.login-infos{
  padding: 20px;
  width: 450px;
  height: 280px;
  border-radius: 10px;
  background-color: $box-bgr;
  margin-top: 30px;
  box-shadow: 0 5px 50px rgba(31, 31, 60, 0.5);
  position: relative;
  top: 50%;
  transform: translateY(50%);
  overflow-x: hidden;
  display: flex;
  align-content: center;

  img{
    width: 200px;
    height: 100%;
    margin-left: -50px;
  }

  .login-details{
    margin-left: 10px;
  }

  .login-details-content{
    position: relative;
    top: 20%;
  }
}

.btn-connexion{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #f39c12;
  border: none;
  color: white;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}


//REGISTER


#registration{
  margin-top: 10px;
  input{
    color: black;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    &::placeholder{
      color: #989898;
    }
  }
}

.instruction{
  margin-bottom: 10px;
}

.btn-register{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #08942d;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 1700px) {

  .rpgmafia {
    height: 356px;
    width: 600px;
  }

}