{% extends 'base.html.twig' %}


{% block missionoverlay %}

	<div class="overlay-content flex-column">
		<div class="overlay-content--title flex-row">
			<img src="{{ asset('img/THI46.gif') }}"><h1>Missions</h1>
		</div>

		<div class="flex-row">

			<!-- Liste des missions -->
				{{ render(controller(
                'App\\Controller\\MissionController::showMissionAccepted'
            )) }}

			<!-- Descriptif de la mission -->

		</div>
		<button onclick="closeDiv()" class="close-overlay-btn">
			<span>Fermer</span>
		</button>
	</div>
{% endblock %}
