{% extends 'base.html.twig' %}

{% block title %}
	{{ sitename }}
	: Accueil
{% endblock %}

{% block body %}
	<section class="flex-center">

		Discord
		<div class="home-article-box">
			<h2>L'Imperial Mobsters ouvre son site internet !</h2>
			<img style="margin-top: -325px;" src="https://cdn.discordapp.com/attachments/744281580327010396/798590160806739978/test.gif">
		</div>

		Discord
	</section>
{% endblock %}
