{% block header %}

	<input type="checkbox" id="main-navigation-toggle" class="btn btn--close" title="Toggle main navigation"/>

	<label for="main-navigation-toggle">
		<span></span>
	</label>

	<nav id="main-navigation" class="nav-main">
		<ul class="menu">
			<li class="menu__item">
				<a class="menu__link" href="#0">Accueil</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#0">The Times</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#0">Banque</a>
				<ul class="submenu">
					<li class="menu__item">
						<a class="menu__link" href="#0">Mon compte</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#0">Emprunts</a>
					</li>
				</ul>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#0">Profil</a>
			</li>
			{% if app.user %}
				<li class="menu__item">
					<a class="menu__link" href="/logout">Déconnexion</a>
				</li>
			{% else %}
				<li class="menu__item">
					<a class="menu__link" href="/login">Connexion</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="/register">Inscription</a>
				</li>
			{% endif %}
			<p style="color: white;">&copy;Imperial Mobsters 2021 - Version ALPHA</p>

		</ul>
	</nav>
	<div class="user-space">
		<div class="user-head">
			<img src="https://api.habbocity.me/avatar_image.php?user=GALAHAD&headonly=0&direction=2&head_direction=3&size=n">
		</div>
		<div class="user-name">
			Galahad&nbsp;
			<img src="https://files.habboemotion.com/resources/images/icons/edit_badge_button.gif"/>

		</div>

	</div>

	{% if app.user %}
		<div class="user-space">
			<div class="user-head">
				<img src="https://api.habbocity.me/avatar_image.php?user={{ app.user.username }}&headonly=0&direction=2&head_direction=3&size=n">
			</div>
			<div class="user-name">
				{{ app.user.username }}&nbsp;
				<img src="https://files.habboemotion.com/resources/images/icons/edit_badge_button.gif"/>
			</div>
		{% else %}
			<div class="user-space">
				<div class="user-head">
					<img src="https://api.habbocity.me/avatar_image.php?user=PRIMELIA&headonly=0&direction=2&head_direction=3&size=n">
				</div>
				<div class="user-name">
					Visiteur&nbsp;
					<a href="/login"><img style="top: 0px;" src="https://files.habboemotion.com/resources/images/icons/locked_big.gif"></a>
				</div>
			{% endif %}

		</div>
	</nav>
</header>{% endblock %}
