<div class="buttons">
    <button class="btn" onclick="openDiv()">
        <img src="{{ asset('img/THI46.gif') }}"><span>Missions</span>
        <span class="missions-notifs">
            {% if userMissionNotFinished %}
            {{ userMissionNotFinished|length }}
            {% else %}
            0
            {% endif %}

        </span>
        <span class="btn-arrow">
						>
					</span>
    </button>
</div>