<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ siteurl }}scss/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<title>
			{% block title %}MOBSTERS :
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

	</head>

	{{ block('header', "global/header.html.twig") }}

	<body>

		{% if app.user %}

			<div class="overlay" id="overlay">
				{{ block('missionoverlay', "global/overlays/mission.html.twig") }}
			</div>

		{% endif %}

		{% block body %}{% endblock %}

	</body>

	{% block javascripts %}

		<script type="application/javascript">
			let overlay = document.getElementById('overlay')
const openDiv = () => {
overlay.style.display = 'block'
overlay.style.opacity = '0.90'
overlay.style.transition = "opacity 0.5s ease-in"
}
const closeDiv = () => {
overlay.style.display = 'none'
overlay.style.opacity = '0'
overlay.style.transition = "opacity 0.5s ease-in"
}
const tabs = document.querySelectorAll('[data-tab-target]')
const tabContents = document.querySelectorAll('[data-tab-content]')
tabs.forEach(tab => {
tab.addEventListener('click', () => {
const target = document.querySelector(tab.dataset.tabTarget)
tabContents.forEach(tabContent => {
tabContent.classList.remove('active')
})
tabs.forEach(tab => {
tab.classList.remove('active')
})
tab.classList.add('active')
target.classList.add('active')
})
})
		</script>

	{% endblock %}

</html>
