<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ siteurl }}scss/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<title>
			{% block title %}MOBSTERS :
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

	</head>

	{{ block('header', "global/header.html.twig") }}

	<body>

		<div class="overlay" id="overlay">
			{{ block('missionoverlay', "global/overlays/mission.html.twig") }}
		</div>

		{% block body %}{% endblock %}
	</body>

	{% block javascripts %}

		<script type="application/javascript">

			let overlay = document.getElementById('overlay')

			const openDiv = () => {
				overlay.style.display = 'block'
			}

			const closeDiv = () => {
				overlay.style.display = 'none'
			}

		</script>

	{% endblock %}

</html>
